.final-score-cont {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.score-page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 107px - 64px);
}

.score-sp{
    color: #CBD121;
    font-size: 3em;
    padding: 10px;
    border-radius: 8px;
    margin: 15px;
    border: dotted black 3px;
}
