
.welcome-cont-wrap{
    display: flex;
    align-items: center;
    justify-content: center;

}
.form-button{
    display: block;
    text-align: center;
    width:100%;
}
#input-form{
    display: block;
    height: 50px;
    margin: 2px;
}
.form-inputs-cont{
    display: block;
    align-self: flex-start;
    width: 100%;
}

.playername-label{
    margin: 0px 0px 0px 0px;
}
.welcome-cont {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin:30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 500px;
    justify-content: center;
}
.rules-img{
    margin: 20px;
}
.rules-cont{
    margin:20px;
}

.welcome-form{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin:10px;
    width: 100%;
}
label {
    margin: 10px;
}

.rules-header{
    font-weight: bold;
}


.welcome-image-r hr {
    border: 1.5px solid #555555;
}

.welcome-image-r p {
    height: 5vh;
    padding: 3px;
    font-weight: bold;
    color: #555555;
}
#title-welcome-card {
    margin-bottom: 5%;
    font-family: 'Montez', cursive;
    font-size: 150%;
    height: 10vh;
}

